body {
	color:white;
	background-image: url("https://i.pinimg.com/originals/f0/a7/81/f0a781448c5ef1a5020c908a95ad7062.jpg");
	text-align:left;
}
div{
	color:black;
}
h1, h2, h3{
	font-family:Arial;
	font-size: 22px;
}
.Program {
	text-align: left;
}
.Program2 {
	text-align: left;
}

a:link {
	text-decoration:none;
	color:white;
}
.Grid{
	
	display: grid;
	grid-template-columns:repeat(2, 2fr);
	grid-template-areas: "Content1 Content2";
}
section{
	display: grid;
	grid-area:Content1;
}
.section2{
	display: grid;
	grid-area:Content2;
}
.Img{
	width: 200px;
}
